{
  "env": {
    "node": true,
    "es2020": true
  },
  "extends": ["standard", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["node", "prettier", "standard"],

  "rules": {
    "prettier/prettier": "error",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "camelcase": "off",
    "eol-last": "warn",
    "no-multiple-empty-lines": "warn",
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "no-useless-escape": "off",
    "linebreak-style": ["error", "unix"]
  },
  "overrides": [
    {
      "files": ["./scripts/{**/,}*.js", "./test/{**/,}*.js", "./e2e/test/{**/,}*.js"],
      "env": {
        "mocha": true
      }
    }
  ]
}
