.idea
.vscode
**/build/
**/node_modules/
**/lib/abi/*.json
**/artifacts/
**/artifacts-userdoc/
.cache
**/cache/
dist/
tmp/
venv
out

/coverage/
/coverage.json
.coverage_*/

aragon-apps/
aragon-client/
cli/vendor

**/data/
*.log

# Yarn stuff
.yarn/*

.pnp.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Geth chaindata
.chaindata/

# Sensitive data
/accounts.json
# e2e temp data
/deployed-e2e.json

/deployed-local.json

# OS relative
.DS_Store

# foundry artifacts
foundry/cache
foundry/out

logs
**/verificator_diffs/
