.idea
.vscode
**/build/
**/node_modules/
**/artifacts/
.cache
**/cache/
dist/
tmp/

/coverage/
/coverage.json
.coverage_*/

aragon-apps/
aragon-client/
cli/vendor

**/data/
*.log

# Yarn stuff
.yarn/*

.pnp.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Geth chaindata
.chaindata/

# Sensitive data
/accounts.json
# e2e temp data
/deployed-e2e.json
