.idea/
.yarn/

node_modules/
coverage/

coverage.json

typechain/
typechain-types/

# Hardhat files
cache/
artifacts/

# foundry artifacts
foundry/cache/
foundry/out/

# Extracted ABI files
lib/abi/*.json

.env
accounts.json
deployed-local.json
deployed-hardhat.json

# MacOS
.DS_Store
